* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: calc(1vh + 0.2vw);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 2vh 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1rem;
}

.add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.3rem solid #666666;
  cursor: pointer;
}

.add-button .lines {
  position: absolute;
  width: 2.5rem;
  height: 0.3rem;
  background-color: #666666;
}

.add-button .vertical-line {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40rem;
  height: 5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: #66666642 0 0 0.5rem 0.1rem;
          box-shadow: #66666642 0 0 0.5rem 0.1rem;
}

.note .note__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  width: 30rem;
  height: 3.7rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}

.note .note__edit, .note .note__delete {
  width: 4rem;
  height: 4rem;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.66;
  cursor: pointer;
}

.note .note__edit {
  background-image: url(./edit.svg);
}

.note .note__delete {
  background-image: url(./delete.svg);
}

.prompt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1rem;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 100;
}

.prompt .input__area, .prompt .input__button {
  width: 30rem;
  height: 5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: #66666642 0 0 0.5rem 0.1rem;
          box-shadow: #66666642 0 0 0.5rem 0.1rem;
}

.prompt .input__area {
  padding-left: 0.5rem;
  border: none;
  font-size: 2rem;
  outline-color: #66666683;
}

.prompt .input__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #1d6fda;
  color: #ffffff;
  font-size: 2.5rem;
}

.prompt .input__button:hover {
  background-color: #3581e4;
}

.prompt .input__button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.off {
  display: none;
}

.strike {
  text-decoration: line-through;
}
